<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <div class="slide">
      <img src="./assets/images/welcome.png"/>
      <h2>Welcome to <span>Chirp</span></h2>
      <p>
        Congratulations! You are now successfully authenticated.
        To finalize your registration, we need you to confirm
        your email address. A confirmation email has been sent to your email address.
      </p>
      <ion-button (click)="login()">Login</ion-button>
    </div>
  </ion-content>
</ion-app>

