.comments-chirp{
  border-bottom: 1px solid rgb(239, 243, 244);
  .tweet-info {
    font-size: 0.9rem;

    .name {
      font-weight: 600;
    }

    .p-left {
      padding-left: 4px;
  }

    .handle {
      color: var(--ion-color-medium);
    }
  }

  .edit-chirp-textarea  {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    margin: 0;
  }

  .chirp-text {
    // justify text
    // text-align: justify;
    word-wrap: normal;
    padding-right: 0.5rem;
  }

  ion-avatar {
    height: 3rem;
    width: 3rem;
  }
}

.comment-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-edit {
  transform: scale(1.5);

  &:first-child {
    margin-right: 0.5rem;
  }
}