<ion-row class="wrapper ion-padding-top ion-padding-horizontal" (click)="details()">
  <ion-col size="2" class="ion-text-center">
    <ion-avatar slot="">
      <ion-img [src]="chirp.creator!.photoUrl"></ion-img>
    </ion-avatar>
  </ion-col>

  <ion-col  size="10" class="ion-padding-start">
    <ion-row class="tweet-info">
      <ion-col size="12" style="text-align: left">
        <span class="name">{{ chirp.creator!.firstname }} {{ chirp.creator!.lastname }}</span>
        <span class="handle">@{{ chirp.creator!.username }}</span>
        <span class="handle">{{ getDate(chirp!.createdAt) }}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="chirp-text" [innerHTML]="chirp.content"></div>
        <img class="preview-img" *ngIf="chirp.imageUrl" [src]="chirp.imageUrl"  alt="chirp attachment">
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start">
      <ion-col>
        <ion-button fill="clear" color="medium" size="small">
          <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
          {{ chirp!.comments! ? chirp!.comments!.length : 0 }}
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button fill="clear" color="medium" [color]="true ? 'primary' : 'medium'" size="small">
          <ion-icon name="heart-outline" slot="start"></ion-icon>
          {{ 10 }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
