<ion-row class="wrapper">
  <ion-col size="2" class="ion-text-center">
    <ion-avatar slot="">
      <ion-img [src]="chirp.img"></ion-img>
    </ion-avatar>
  </ion-col>

  <ion-col  size="10" class="ion-padding-start">
    <ion-row class="tweet-info">
      <ion-col size="12">
        <span class="name">{{ chirp.name }}</span>
        <span class="handle">@{{ chirp.handle }}</span>
        <span class="handle">{{ chirp.date * 1000 | date : 'shortDate' }}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="chirp-text" [innerHTML]="chirp.text"></div>
        <img class="preview-img" [src]="chirp.attachment" *ngIf="chirp.attachment" alt="chirp attachment">
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start">
      <ion-col>
        <ion-button fill="clear" color="medium" size="small">
          <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
          {{ 25 }}
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" color="medium" [color]="chirp.rechirp ? 'primary' : 'medium'" size="small">
          <ion-icon name="repeat-outline" slot="start"></ion-icon>
          {{ 5 }}
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" color="medium" [color]="chirp.liked ? 'primary' : 'medium'" size="small">
          <ion-icon name="heart-outline" slot="start"></ion-icon>
          {{ 10 }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
