
ion-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
ion-toolbar {
    --border-style: none!important;
}

ion-header {
    background: #fff!important;
}

ion-segment {
    z-index: 10;
    background: #fff;
}

ion-segment-button {
    text-transform: none!important;
}
