<app-menu></app-menu>

<header></header>
<ion-segment class="margin-top-1" [(ngModel)]="segment" mode="md" #segmentcontrol>
  <ion-segment-button value="home">
    <ion-label>Home</ion-label>
  </ion-segment-button>
  <ion-segment-button value="manage">
    <ion-label>Manage chirps</ion-label>
  </ion-segment-button>
</ion-segment>


<ion-content>
  <div [hidden]="segment !== 'home'">
    <chirp *ngFor="let chirp of chirps" [chirp]="chirp"></chirp>
  </div>
  <div [hidden]="segment !== 'manage'">
    Manage tweets tab
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
