.main-chirp,
.comments-chirp {
  border-bottom: 1px solid rgb(239, 243, 244);

  .tweet-info {
    font-size: 0.9rem;

    .name {
      font-weight: 600;
    }

    .p-left {
      padding-left: 4px;
    }

    .handle {
      color: var(--ion-color-medium);
    }
  }

  .edit-chirp-textarea {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    margin: 0;
  }

  .chirp-text {
    // justify text
    text-align: justify;
    word-wrap: normal;
    padding-right: 0.5rem;
  }

  .preview-img {
    border: 1px solid var(--ion-color-light);
    border-radius: 10px;
    margin-top: 10px;
  }
}

ion-textarea > div > div.native-textarea {
  // remove textarea default padding
  padding: 0;
  // justify text
  text-align: justify !important;
  word-wrap: normal !important;
  padding-right: 0.5rem !important;
}

.comments-chirp {
  .preview-img {
  }
}

.chirp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-chirp-textarea {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  margin: 0;
  padding-bottom: .3rem;
  border-bottom: 2px solid var(--ion-color-primary);
}

.toggle-edit {
  transform: scale(1.5);

  &:first-child {
    margin-right: 0.5rem;
  }


}

.toggle-delete {
  transform: scale(1.5);
  color: #FC2947 !important;

  &:first-child {
    margin-right: 0.5rem;
  }
}

.return-icon {
  font-size: 1.5rem;
}
