ion-label{
    font-size: 1.6rem !important;
    color: #BDCDD6;
    margin-bottom: 0.5rem;
}

.add-chirp-avatar {
    margin-top: 25px;
}

.add-chirp-select {
  width: fit-content;
  border: 1px solid rgb(207, 217, 222);
  color: var(--ion-color-primary);
  border-radius: 0.5rem;
  height: 2rem;
  padding-right: 0.5rem;
  font-weight: bold;
}

.add-chirp-date {
  display: flex;
  align-items: center;
  margin-left : 0.5rem;
}

.audience-row {
  display: flex;
  align-items: center;

  & > *:first-child {
    margin-right: 1rem;
  }

  & > * {

    & > ion-icon {
      margin-right: 0.25rem;
    }
    display: flex;
    align-items: center;
  }
}
ion-avatar {
  width: 128px;
  height: 128px;
}

.add-chirp-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.add-chirp-image-close{
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 1;
  border-radius: 0 0 0 0.5rem;
  color: var(--ion-color-primary);
  transform: scale(2);
  padding: 0.5rem;
  &:active {
    transform: scale(1.5);
  }
}
.add-chirp-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.add-chirp-image-button{
  border-radius: 0.5rem;
  color: var(--ion-color-primary);
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  &:active {
    transform: scale(0.9);
  }
}

.return-icon {
  font-size: 1.5rem;
}
